# CONFIGURACIÓN DEL SERVIDOR
PORT=3000

# CREDENCIALES DE FIREBASE (Obtenlas en la consola de Firebase)
FIREBASE_API_KEY=tu_api_key_aqui
FIREBASE_AUTH_DOMAIN=tu_dominio_aqui
FIREBASE_PROJECT_ID=tu_project_id_aqui
FIREBASE_STORAGE_BUCKET=tu_bucket_aqui
FIREBASE_APP_ID=tu_app_id_aqui

# SEGURIDAD
JWT_SECRET_KEY=tu_clave_secreta_para_tokens